<div class="container">
    <div class="row">
        <h1 class="text-center">Welcome to Baxter Control!</h1>
        <img src="http://www.hizook.com/files/users/3/Baxter_Robot_from_RethinkRobotics_8.jpg" width="50%">
    </div>
</div>

