<div class="container">
    <div class="row">
        <h1 class="text-center">Baxter Controls</h1>
    </div>
    <div class="row" style="margin-left: 10%; margin-bottom: 20px;">
        <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-2">
            <%# 2 - Head Neutral %>
            <%= link_to "Head Neutral", set_command_path(:command => '2'), :remote => true, :class => 'btn btn-success', :style => "margin-right: 10px; margin-left: -30px;" %>
            <%# 5 - Arms Neutral %>
            <%= link_to "Arms Neutral", set_command_path(:command => '5'), :remote => true, :class => 'btn btn-success' %>
        </div>
    </div>
    <div class="row" style="margin-left: 10%">
        <div class="col-xs-2">
            <%# 1 - Head Left %>
            <%= link_to "Head Left", set_command_path(:command => '1'), :remote => true, :class => 'btn btn-success pull-right' %>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%# 4 - Arms Up %>
            <%= link_to "Arms Up", set_command_path(:command => '4'), :remote => true, :class => 'btn btn-success pull-right' %>
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="http://www.hizook.com/files/users/3/Baxter_Robot_from_RethinkRobotics_8.jpg">
        </div>
        <div class="col-xs-2">
            <%# 3 - Head Right %>
            <%= link_to "Head Right", set_command_path(:command => '3'), :remote => true, :class => 'btn btn-success', :style => "margin-bottom: 5px" %>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%# 6 - Arms Wide %>
            <%= link_to "Arms Wide", set_command_path(:command => '6'), :remote => true, :class => 'btn btn-success' %>
        </div>

    </div>

</div>

<script>
    $(document).ready(function(){
        $('a.btn').on('click', function () {
            var $btn = $(this);
            var init_txt = $btn.text();

            $btn.text('Moving...');

            var checkExecuted = function() {

                $.getJSON("/api/command", function (data) {

                }).done(function( data ) {
                    console.log("Command: " + data.command + " Executed: " + data.executed);
                    if (data.executed == 'true'){
                        $btn.text(init_txt);
                        clearInterval(xInt);
                    }
                });
            };

            var xInt = setInterval(checkExecuted, 1000);

        });
    });
</script>
